.Contact {

    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conLeft {
    flex-basis: 48%;
    color: #676767;
}

.conLeft h3 {
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.conLeft h3 img {
    width: 35px;
    margin-left: 10px;
}

.conLeft p {
    max-width: 450px;
    line-height: 1.3;
}

.conLeft ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.conLeft ul li img {
    width: 25px;
    margin-right: 10px;
}

.Contact form input,
.Contact form textarea {
    display: block;
    width: 100%;
    background: #ebecfe;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.sending {
    display: block;
    margin: 20px 0px;
}


/* Media for 700px */


@media (max-width:700px) {
    .Contact {
        display: block;
    }

    .conLeft {
        padding: 20px;
    }
}